.nav {
  display: flex;
  flex-direction: column;
  min-width: fit-content;
  a {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;

    padding: 10px 15px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;

    transition: 0.3s;
  }
  .active {
    background-color: black;
    color: white;
  }
}
